* {
  padding: 0;
  margin: 0;
}
.header {
display: flex;
justify-content: space-between;
padding-left: 200px;
padding-right: 200px;
align-items: center;
background-color: #1f2937;
height: 30px;
}
ol {
list-style: none;
display: flex;
gap: 15px;
font-size: 18px;
color: #e5e7eb;
}
a {
 text-decoration: none;
 color: inherit;
}
.logo {
font-size: 24px;
color: #f9faf8;
}
.top {
background-color: #1f2937;
display: flex;
padding: 85px;
padding-left: 200px;
}
h1 {
font-size: 48px; 
font-weight: bolder;
color: #f9faf8; 
}
.sub-text {
font-size: 15px;
color: #E5E7EB;
}
.mary {
width: 500px;
height: 250px;
padding-left: 150px;
padding-right: 115px;
}
.main-but {
width: 100px;
background-color: #3882f6;
color: #e5e7eb; 
border-radius: 8px;
padding: 8px;
margin-top: 8px;
border-color:#3882f6
}
.info {
display: flex;
flex-direction: column;
}
.images{
  width: 100px;
  width:100px
}
.alien,
.hippy,
.ballon {
width: 200px;
height:180px;
}

