* {
  padding: 0;
  margin: 0;
}
.header {
display: flex;
justify-content: space-between;
padding-left: 200px;
padding-right: 200px;
align-items: center;
background-color: #1f2937;
height: 30px;
padding-top:10px;
}
ol {
list-style: none;
display: flex;
gap: 15px;
font-size: 18px;
color: #e5e7eb;
}
a {
 text-decoration: none;
 color: inherit;
}
.logo {
font-size: 24px;
color: #f9faf8;
}
.top {
background-color: #1f2937;
display: flex;
padding: 85px;
padding-left: 200px;
}
h1 {
font-size: 48px; 
font-weight: bolder;
color: #f9faf8; 
}
.sub-text {
font-size: 15px;
color: #E5E7EB;
}
.mary {
width: 500px;
height: 250px;
padding-left: 150px;
padding-right: 115px;
}
.main-but {
width: 100px;
background-color: #3882f6;
color: #e5e7eb; 
border-radius: 8px;
padding: 8px;
margin-top: 8px;
border-color:#3882f6
}
.info {
display: flex;
flex-direction: column;
}
h2 {
text-align: center;
padding: 28px;
}
.photo {
width: 140px;
height:120px;
display: flex;
padding-left: 30px;
border-radius: 6px;
border-color: #3882f6;
}

.images{ 
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
max-height: 200px;
padding-bottom: 100px;
padding-top: 25px;

} 
.img-text {
  max-width: 100px;
}


.quote{
background-color: #E5E7EB;
padding: 80px;
padding-left: 250px;
display: flex;
flex-direction: column;
padding-right: 250px;
}
.throw {
font-size: 36px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #1F2937;
}
h3 {
  text-align: right;
  padding-top: 15px;
}
.boxes {
  display: flex;
  justify-content: center;
}
.four {
 margin: 150px; 
 background-color: #3882f6;
display: flex;
border-radius: 6px;
height: 100px;
align-items: center;
justify-content: space-between
}
h4 {
font-weight: bolder;
}
.action {
  padding-left: 120px;
  color: #E5E7EB;
}
#buti {
  padding-right: 220px;
}
.sup {
  width: 87px;
  height: 35px;
  background-color: #3882f6;
  border-radius: 6px;
  border-color: #E5E7EB;
  color: #E5E7EB;
}
footer {
  background-color: #1F2937;
}
.last {
 display: flex;
height: 65px; 
justify-content: center;
align-items: center;
color: #E5E7EB;
}



